@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a202c;
    color: #f8f8f8;
    font-family: 'Nunito', sans-serif;
}

a {
    color: #f8f8f8;
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 0 auto;
}


.navbar {
    border-bottom: 1px #737373 solid;

    .container {
        padding: 1.2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .brand {
        font-size: 1.5rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
            cursor: pointer;
            list-style: none;
            margin-left: 20px;
            font-size: 1.1rem;

            a:hover {
                color: #ef5466;
            }
        }
    }
}

.footer {
    margin-top: 20px;
    font-size: .9rem;
    border-top: 1px #737373 solid;
    .container {
        padding: 1.2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    .shotout {
        span {
            color: red;
        }

        a:hover {
            color: #ef5466;
        }
    }
}

@import 'home.scss';
@import 'shop_index.scss';
@import 'shop_show.scss';



