.popular_products {
    margin-top: 30px;
    margin-bottom: 50px;

    h2 {
        width: fit-content;
        .line {
            width: 80%;
            height: 2px;
            border-radius: 5px;
            margin-top: 2px;
            background-color: #ef5466;
        }
    }
}

.products_grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.product {
    margin: 30px auto;
    img {
        width: 200px;
        transition: opacity .3s ease-in-out;

        &:hover {
            opacity: .75;
        }
    }

    .product_details {
        a {
            margin-top: 2px;
            transition: color .3s ease-in-out;
            &:hover {
                color: #ef5466;
            }
        }

        p {
            margin-top: 2px;


            &:last-child {
                color: #03de03;
                margin-bottom: 1px;
            }
        }

       
    }

    .addCart {
        width: 100%;
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
        padding: .5rem 0;
        border: 1px #007BFF solid;
        background-color: #007BFF;
        border-radius: 5px;
        transition: background-color .5s ease-in;

        a {
            color: #f8f8f8;
        }

        &:hover {
            background-color: transparent;
        }
    }
}