.filters {
    margin-top: 30px;
    margin-right: 50px;
    border: 1px #d8d8d8 solid;
    border-radius: 8px;
    padding: 1rem;
    height: 60vh;

    .search form {
        display: flex;
        align-items: center;

        input {
            border: none;
            width: 90%;
            padding: 7px 0 6px 6px;
            font-size: 18px;
            border-radius: 5px 0 0 5px;

            &:focus  {
                outline: none;
            }
        }


        .search_btn {
            background-color: #007BFF;
            padding: 5px;
            margin-left: -1px;
            cursor: pointer;
            border-radius: 0 5px 5px 0;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: background-color .3s ease-in-out;

            .search_icon {
                color: #f8f8f8;
                margin: auto 0;
                font-size: 24px;

            }
            &:hover {
                background-color: rgba($color: #007BFF, $alpha: .75);
            }
        }
    }


    .filter_price {
        margin-top: 30px;
        p {
            font-size: 20px;
        }

        .price_form {
            display: flex;
            align-items: center;
            padding-left: 5px;
            .min, .max {
                margin-top: 10px;
                margin-left: 10px;
                input {
                    width: 90%;
                    margin-top: 5px;
                    display: block;
                    border: none;
                    padding: 7px 0 6px 6px;
                    font-size: 18px;
                    border-radius: 5px;
                }
                
            }

            
        }

        .applyBtn {
            cursor: pointer;
            display: block;
            width: 90%;
            margin: 0 auto;
            background-color: #007BFF;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            font-size: 20px;
            text-align: center;
            transition: background-color .3s ease-in-out;
            &:hover {
                background-color: rgba($color: #007BFF, $alpha: .75);
            }
        }
    }
}


.shop {
    display: flex;
    margin-top: 30px;


    .filters {
        width: 30%;
    }

    .shop_products {
        flex: 1;


        .notFound {
            font-size: 1.4rem;
            text-align: center;
            margin-top: 30px;
        }
    
        .product {
            margin-bottom: 40px;
            display: flex;

            img {
                width: 300px;
            }

            .product_details  {
                font-size: 1.4rem;
                margin-left: 20px;
                flex: 1;

                p {
                    margin-top: 10px;
                }

                .available {
                    color: #03de03;
                }
            }

            .buttons {
                margin-top: 30px;
                display: flex;
                align-items: center;
                .seeDetails {
                    margin-right: 20px;
                    cursor: pointer;
                    text-align: center;
                    padding: .8rem 0;
                    display: flex;
                    align-items: center;

                    .line {
                        height: 2px;
                        width: 0;
                        margin: 0 auto;
                        border-radius: 5px;
                        background-color: #e86d7b;
                        transition: all .5s ease-in-out ;
                    }

                    &:hover {
                        a {
                            color: #f8f8f8;
                        }
                        .line {
                            width: 100%;
                        }
                    }
                }

                .addCart {
                    width: 40%;
                    cursor: pointer;
                    text-align: center;
                    padding: .6rem 0;
                    border: 1px #007BFF solid;
                    background-color: #007BFF;
                    border-radius: 5px;
                    transition: background-color .3s ease-in;

                    a {
                        color: #f8f8f8;
                    }
            
                    &:hover {
                        background-color: transparent;                        
                    }
                }
            }
        }
    }
}


// pagination styles
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pagePrev, .pageNext {
        user-select: none;
        cursor: pointer;
        color: #f8f8f8;
        padding: .5rem;
        border: 1px rgba($color: #f0f0f0, $alpha: .3) solid;
        border-radius: 5px;
        transition:  background-color .2s ease-in-out;

        &:hover {
            background-color: rgba($color: #f0f0f0, $alpha: .3);
        }

        &.disabled {
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .pages {
        display: flex;
        justify-content: space-between;
        .page {
            margin-right: 5px;
            margin-left: 5px;
            user-select: none;
            cursor: pointer;
            color: #f8f8f8;
            padding: .5rem .8rem;
            border: 1px rgba($color: #f0f0f0, $alpha: .3) solid;
            border-radius: 5px;
            transition:  background-color .2s ease-in-out;

            &:hover {
                background-color: rgba($color: #f0f0f0, $alpha: .3);
            }

            &.active {
                background-color: #007BFF;                
            }
        }
    }
}