@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;

700;900&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a202c;
  color: #f8f8f8;
  font-family: "Nunito", sans-serif;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  border-bottom: 1px #737373 solid;
}

.navbar .container {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .brand {
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar ul li {
  cursor: pointer;
  list-style: none;
  margin-left: 20px;
  font-size: 1.1rem;
}

.navbar ul li a:hover {
  color: #ef5466;
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  border-top: 1px #737373 solid;
}

.footer .container {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .shotout span {
  color: red;
}

.footer .shotout a:hover {
  color: #ef5466;
}

.popular_products {
  margin-top: 30px;
  margin-bottom: 50px;
}

.popular_products h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.popular_products h2 .line {
  width: 80%;
  height: 2px;
  border-radius: 5px;
  margin-top: 2px;
  background-color: #ef5466;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.product {
  margin: 30px auto;
}

.product img {
  width: 200px;
  transition: opacity 0.3s ease-in-out;
}

.product img:hover {
  opacity: 0.75;
}

.product .product_details a {
  margin-top: 2px;
  transition: color 0.3s ease-in-out;
}

.product .product_details a:hover {
  color: #ef5466;
}

.product .product_details p {
  margin-top: 2px;
}

.product .product_details p:nth-last-child(1) {
  color: #03de03;
}

